@import url('https://fonts.googleapis.com/css2?family=Praise&family=Yuji+Mai&display=swap');

body{
    background-color: green;
    font-family: 'Praise', serif;
    font-size: 200%;
}

select[id=css]{
    font-family: 'Praise', serif;
}

input[type=submit]{
    font-family: 'Praise', serif;
}