@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');

body{
    background-color: rosybrown;
    font-family: 'Yuji Mai', serif;
}

.tform {
    width: 50%;
}
select[id=css]{
    font-family: 'Yuji Mai', serif;
}
input[type=submit]{
    font-family: 'Yuji Mai', serif;
}