body{
    background-color: lightslategray;
    font-family: 'Times New Roman', Times, serif

}
input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif

}

select[id=css]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif

}